<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body style="background-color: maroon; color: white;  text-align: center;">

    <%- include('partials/header') %>
    <!-- <div style="background-color: white; height: 70px   ;text-align: right;color: black;">
        <br>
        <h3><%= userName %> </h3>
    </div> -->
    <div style="text-align: center;">
        <h1>!!!!!!!!!!!!!! Welcome to CONTACT page !!!!!!!!!!!! </h1>

        <h2>Here we are going to learn about the basic node js</h2>
        <h3>Node.js tutorial provides basic and advanced concepts of Node.js. Our Node.js tutorial
            is designed for beginners and professionals both.

            Node.js is a cross-platform environment and library for running JavaScript
            applications which is used to create networking and server-side applications.

            Our Node.js tutorial includes all topics of Node.js such as Node.js installation on windows
            and linux, REPL, package manager, callbacks, event loop, os, path, query string, cryptography,
            debugger, URL, DNS, Net, UDP, process, child processes, buffers, streams, file systems, global objects,
            web modules etc.
            There are also given Node.js interview questions to help you better understand the Node.js technology.</h3>
    </div>
 
        <div
            style="width: 500px; height: 300px;background-color:white;margin-left:80px; color: black; text-align: center;">

            <br>
            <h3><%= tushar.name%></h3>
            <h3><%= tushar.Designation%></h3>
            <h3><%= tushar.Email%></h3>
            <h3><%= tushar.Mob%></h3>
            <h3><%= tushar.address%></h3>
           
            <h4>
                <% hoby.forEach(function(hobyName){ %>
                <%= hobyName %> ,
                <% }) %>
            </h4>

<!-- 
<p>
    <% cont.forEach(function(data){ %>
        <%- data.address %> 
        <br>
      
      
       

   <%  }) %>


</p>  -->




        </div>
        <div style="width: 500px; height: 300px;background-color:white;margin-left:770px;text-align: center; margin-top: -300px; color: black;">
            <br>
            <h3><%= namrata.name%></h3>
            <h3><%= namrata.Designation%></h3>
            <h3><%= namrata.Email%></h3>
            <h3><%= namrata.Mob%></h3>
            <h3><%= namrata.address%></h3>
           
            <h4>
                <% hoby.forEach(function(hobyName){ %>
                <%= hobyName %> ,
                <% }) %>
            </h4>



        </div>
        <!-- <%- include('partials/footer') %>   -->
   
</body>

</html>